/*-------------------------------------------------- */
$main_color: rgb(248,190,21);
$main_hover_color: rgb(248,190,12);
$stickyFooterLimit: 480px;
$stickyFooterLimitMobile: 780px;
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

@mixin transition($type) {
  -webkit-transition: $type 1s;
  -moz-transition: $type 1s;
  -o-transition: $type 1s;
  transition: $type 1s;
  -ms-transition: $type 1s;
}

html {
  position: relative;
  min-height: 100%;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  body {
    margin-bottom: $stickyFooterLimitMobile; /* Margin bottom by footer height */
  }
  .main-section {
    padding: 0px 10px 0px;
  }
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  body {
    margin-bottom: $stickyFooterLimitMobile; /* Margin bottom by footer height */
  }
  .main-section {
    padding: 0px 10px 0px;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  body {
    margin-bottom: $stickyFooterLimitMobile; /* Margin bottom by footer height */
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  body {
    margin-bottom: $stickyFooterLimit; /* Margin bottom by footer height */
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  body {
    margin-bottom: $stickyFooterLimit; /* Margin bottom by footer height */
  }
}

a:hover {
  text-decoration: none;
  color: inherit,
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
.textColor {
  color: $main_color !important;
}
.main_text_link {
  cursor: pointer;
  color: $main_color !important;
  border-bottom: 1px solid $main_color !important;
  text-decoration: none !important;
  // @include transition(border-bottom);
  &:hover {
    color: $main_hover_color !important;
    border-bottom: 1px solid transparent !important;
  }
}
.main_text_link_normal {
  cursor: pointer;
  color: black;
  border-bottom: 1px solid black !important;
  text-decoration: none !important;
  // @include transition(border-bottom);
  &:hover {
    border-bottom: 1px solid transparent !important;
  }
}
.footerAdmin {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  border-top: 1px solid $main_color;
}
.main-section {
  padding: 0px 15px 0px;
}
.main-nav-panel {
  background-color: $main_color;
  color: white;
}
// TODO :fix mobile for delete button
@media (max-width: $screen-xs-max) {
  .smallMainButton{
    padding: 20px 40px !important;
  }
}
.smallMainButton{
  border: 1px solid $main_color !important;
  color: $main_color !important;
  padding: 5px 20px !important;
  font-size: .7em !important;
  &:hover {
    background-color: $main_color !important;
    color: white !important;
  }
}
.iconBtnSimple{
  color: $main_color !important;
  padding: 5px 20px !important;
  font-size: .7em !important;
  background-color: transparent !important;
  &:hover, &:focus {
    border: 0px solid transparent !important;
    outline: 1px solid transparent !important;
  }
}
.secondButton{
  border: 1px solid $main_color !important;
  color: $main_color !important;
  margin: 10px 0px !important;
  border-radius: 5px !important;
  width: 100%;
  &:hover {
    background-color: $main_color !important;
    color: white !important;
  }
}
.mainButton {
  width: 100%;
  background-color: $main_color !important;
  border: 1px solid $main_color !important;
  margin: 10px 0px !important;
  border-radius: 5px !important;
  color: white !important;
  &:hover {
    background-color: white !important;
    color: $main_color !important;
  }
}
.cardRoot2 {
  width: 100%;
  text-align: center;
  border-radius: 0px !important;
  &:hover {
    background-color: white !important;
    & div {
      color: black
    }
    & svg {
      fill: black,
    }
  }
  & span {
    display: flex;
    flex-direction: column;
  }
};
.cardRoot {
  padding: 10;
  background-color: rgb(239,239,239);
  border: 1px solid $main_color;
  & a:hover {
    color: white;
    text-decoration: none;
  };
  & a:hover svg {
    fill: white;
  };
  &:hover {
    background-color: $main_color;
  };
}
.cardMediaCont {
  text-align: 'center';
  width: 60%;
  margin: 0px auto;
  fill: $main_color;
  color: $main_color;
}
.cardLink {
  color: $main_color;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.AppBarBackColor {
  background-color: $main_color !important;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

@import "~react-image-gallery/styles/scss/image-gallery.scss";